#change 'y' to 'n', if you want fo close phoenix feature
config SERENITY_FEATURE_PHOENIX
    tristate "serenity phoenix project"
    default y
    help
      define this config to init serenity phoenix project.
